/* tables */
table {
    border: 1px black solid;
    margin: auto;
    width: 95%;
}

caption {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    padding: 20px;
    margin: 20px 0;
}
td, th {
    border: 1px black solid;
}
td {
    padding: 10px;
    font-size: 1.4em;
    border: 1px solid black;
    width: 23.75%;
    font-family: Roboto, sans-serif;
    text-align: center;
}
th {
    font-family: 'Road Rage', cursive;
    font-size: 3em;
}
tbody tr:last-child td:last-child {background-color: rgb(164, 202, 129);}

/* form */
form {
    font-family: Roboto, sans-serif;
    font-size: 1.4em;
    width: 95%;
    margin: auto;
}
form > h1 {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 2.5em;
}
form > h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

form > input:first-of-type {
    width: 70%;
    margin-left: 10%;
}
form > input:last-of-type {
    background-color: rgb(72, 72, 255);
    color: white;
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10%;
}

/* Video */
video {
    width: 85%;
    border: 1px grey solid;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    margin: 0 auto;
}

/* rotating images */
article:first-of-type img:hover {
    transform: rotate(45deg);
    transition-duration: 2s;
}

article:last-of-type img:hover {
    transform: rotate(-45deg);
    transition-duration: 2s;
}
article img {
    transition-duration: 2s;
}

/* media */
/* Main Menu */
@media screen and (max-width:670px) {
    header > nav > ul {
        display: block;
        margin: auto;
    }
    header > nav > ul > li {
        width: 100%;
    }

    /* Form */
    form > input:first-of-type {
        margin: 0px;
        display: block;
        margin-top: 15px;
    }
}

@media screen and (max-width:550px) {
    article {
        float: none;
        width: 90%;
        text-align: center;
        margin: auto;
    }
    article + article {
        border-left: none;
        border-top: 1px solid black;
        padding-top: 15px
    }
    th {
        font-size: 2em;
    }
}